h1,h2 {
    font-weight: bold;
    text-align: center;
    background-color: rgb(88, 159, 106);
    border: 0.125rem solid black;
    border-radius: 10px

}

h3{
    text-align: center;
    font-weight: bold;
}

body {
    background-image: url('./images/6661353.jpg'); 
    background-size: cover;           
    background-position: center;      
}

.container {
    display: flex;              
    padding: 3.125rem;
    flex-direction: row
   
    
}

.tekst {
    width: 50%;
    font-size: 1.125rem;
    text-align: left;
    background-color: rgb(88, 159, 106);
    border-radius: 10px
}

.zdjecie {
    width: 50%;
    text-align: right;
    padding: 0 0 0 0.625rem;
    border-radius: 10px
}

.zdjecie img {
    width: 80%;
    height: 80%;
    text-align: right;
    border-radius: 10px
}

.paragraf {
    background-color: rgb(138, 177, 118);
    border: 0.125rem solid black;
    margin: 0.625rem;
    border-radius: 10px
    
}

p {
    text-align: center;
    text-wrap: wrap
}

.p1 {
    text-align: right;
    font-size: 1.5625rem;
    font-weight: bold;
    font-style: italic;
    text-wrap: wrap;
    color: white;
}

.p2 {
    text-align: center;
    font-size: 1.5625rem;
    font-weight: bold;
    text-wrap: wrap;
    padding: 1.25rem 0 0 0;
}

.p3 {
    text-align: center;
    font-size: 1.5625rem;
    font-weight: bold;
    text-wrap: wrap;
    padding: 0 0 1.25rem 0 ;
}

.p4 {
    text-align: left;
    font-size: 1.5625rem;
    font-weight: bold;
    text-wrap: wrap;
    color: white;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  h1,h2 {
    font-weight: bold;
    text-align: center;
    background-color: rgb(158, 147, 147);
    border: 0.125rem solid black;

}

h3{
    text-align: center;
    font-weight: bold;
}

body {
    background-image: url('./images/6661353.jpg'); 
    background-size: cover;           
    background-position: center;      
}


.tekst {
    width: 100%;
    font-size: 1.125rem;
    background-color: antiquewhite;
    text-align: center;
}

.zdjecie {
    width: 100%;
    text-align: center;
}

.zdjecie img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.paragraf {
    background-color: rgb(158, 147, 147);
    border: 0.125rem solid black;
    margin: 0.625rem;
    padding: 20px; 
}

p {
    text-align: center;
    text-wrap: wrap
}

.p1 {
    text-align: center;
    font-size: 1.5625rem;
    font-weight: bold;
    font-style: italic;
    text-wrap: wrap;
    color: white;
}

.p2 {
    text-align: center;
    font-size: 1.5625rem;
    font-weight: bold;
    text-wrap: wrap;
    padding: 1.25rem 0 0 0;
}

.p3 {
    text-align: center;
    font-size: 1.5625rem;
    font-weight: bold;
    text-wrap: wrap;
    padding: 0 0 1.25rem 0 ;
}

.p4 {
    text-align: left;
    font-size: 1.5625rem;
    font-weight: bold;
    text-wrap: wrap;
    color: white;
}
}